@font-face {
    font-family: 'Aquino Demo';
    font-style: normal;
    font-weight: normal;
    src: local('Aquino Demo'), url('webfont/Aquino-Demo.woff') format('woff');
}

@font-face {
    font-family: 'Finland Rounded Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Finland Rounded Thin'), url('webfont/Finland Rounded Thin.woff') format('woff');
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

* {
    /* outline: 1px dotted red; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background: #655C5C;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.wrap {
    top: 0px;
    left: 0px;
    max-width: 1920px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    top: 0px;
    left: 0px;
    width: 100%;
    background: #524A4A;

}

.header h3 {
    font-size: 16px;
    letter-spacing: 0.48px;
    color: #A59696;
    padding: 16px;
    padding-left: 40px;
    font-family: 'Aquino Demo';
}

.chatWrap {
    margin: auto;
    width: 70%;
    background: #524A4A;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 21px;
    opacity: 1;
    display: flex;
}

.chatWrap_1 {
    width: 25%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.animal {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.logRole {
    margin: 15px 0px;
    height: 50px;
    background: #645B5B;
    border: 1px solid #fff;
    border-radius: 9px;
    color: #FFFFFF;
    letter-spacing: 0.6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logRole:hover {
    border: 2px solid #FCAA72;
    color: #FCAA72;
}

.chatWrap_2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    align-items: center;
}

.chatWrap_2 h1,
h2 {
    text-align: left;
    font-family: 'Aquino Demo';
    letter-spacing: 0.92px;
    color: #FFFFFF;
    opacity: 1;
}

.chatWrap_2 h1 {
    font-size: 24px;
}

.chatWrap_2 h2 {
    font-size: 12px;
    margin-top: 5px;
    letter-spacing: 0.48px;
}

.chatWrap_3 {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.animalSelect {
    display: flex;
    flex-direction: column;

}


.imgRole {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 75px;
    height: 110px;
    margin-bottom: 10px;
    display: flex;

}

.puppyPng {
    display: block;
    width: 60px;
    margin: auto;
    opacity: 0.5;
}

.kittenPng {
    display: none;
    width: 60px;
    margin: auto;
    opacity: 0.5;
}

.imgRole:hover {
    border: 2px solid #FCAA72;
}

.puppyPng:hover {
    opacity: 1;
}

.puppyAccount {
    max-width: 200px;
    height: 250px;
    margin-top: 20px;
    z-index: 1;
}

.shadow {
    position: relative;

}

.shadow::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 35px;
    background: #4B4343;
    top: -20px;
    left: -75px;
    border-radius: 50% / 50%;
    z-index: 0;
}


.name {
    margin-top: 30px;
    border: none;
    background: #645B5B;
    border-radius: 9px;
    opacity: 1;
    height: 35px;
    width: 100%;
    padding-left: 20px;
}

.logInBtn {
    width: 100px;
    height: 25px;
    border-radius: 50px;
    margin: 30px 0px 40px;
    font-weight: 900;
    color: #524A4A;
}

/* --------------chatroom.html-------------- */

.chatRoom {
    display: flex;
    width: 100%;
    height: 94vh;
}

.chatRoomHeader {
    height: 6vh;
}

.leftWrap {
    width: 20%;
    background-color: #766B6B;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-family: "Noto Sans TC";
    color: #FFF;
}

.block {
    width: 120px;
    height: 120px;
    background-color: #524A4A;
    box-shadow: 0px 6px 10px #00000017;
    border-radius: 50%;
    margin: 8px;
    display: flex;
    cursor: pointer;
}

.block:hover {
    background-color: #E8A87E;
}

.block p {
    margin: auto;
    text-align: center;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 2px;
}



.headPng {
    width: 100px;
}

.info h3 {
    margin: 10px;
    font-weight: 900;
}

.textMessage {
    position: relative;
    margin: 40px 0px 30px;
}

.info p {
    display: block;
    font-size: 10px;

}

.oneMessage {
    display: none;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #766B6B;
    border: none;
    color: #fff;
}

.oneMessage::-webkit-input-placeholder {
    color: #fff;
}

.messageBtn {
    border: none;
    background-color: #645B5B;
    color: #fff;
    border-radius: 4px;
}

.editBtn {
    display: block;
}

.checkBtn {
    display: none;
}

.rightWrap {
    width: 80%;
    background-color: #645B5B;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chatHeader {
    display: block;
    font-size: 12px;
    color: #fff;
    font-family: "Noto Sans TC";
    margin: 20px 50px 0px;
    letter-spacing: 1px;
}

.chatName {
    font-weight: 900;
    font-size: 12px;
}

.joinTime {
    margin-left: 10px;
}

.chatMessage {
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans TC";
    color: #fff;
    margin-top: 20px;
    overflow-y: scroll;
    height: 800px;
}

.message {
    display: flex;
    margin: 0px 50px 30px;
}

.chatRole {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.peopleHead {
    width: 50px;
}

.chatRole span {
    margin-top: 12px;
    font-size: 8px;
    text-align: left;
}

.chatBox {
    display: flex;
}

.chatContent {
    margin-left: 30px;
    max-width: 600px;
    background-color: #524A4A;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    position: relative;
}

.chatContent::after {
    position: absolute;
    content: "";
    top: 20px;
    left: -23px;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-right-color: #524A4A;
    /* border-right-color: transparent; */
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.chatContent p {
    font-size: 16px;
    padding: 20px;
    line-height: 1.2;
    letter-spacing: 1.2px;
    text-justify: unset;
    text-align: left;
    width: 100%;

}

.delText {
    display: none;
    background-color: #968686;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 2.5;
    border-radius: 7px;
}

.textWrap {

    width: 97%;
    height: 50px;
    background-color: #968686;
    margin-left: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.iconWrap {
    display: flex;
    margin-right: 20px;
    margin-left: 10px;
}

.iconWrap i {
    margin: 0px 10px;
    font-size: 20px;
    color: #fff;
}

.chatLine {
    height: 45px;
    border: 1px solid;
    color: #C4B1B1;
}

.chatText {
    border: none;
    width: 100%;
    background-color: #968686;
    height: 45px;
    font-size: 14px;
    padding: 15px;
}